<div class="container" id="login">
    <form class="login" method="POST" action="/login">
        <div class="input-field">
          <label for="">Gebruikersnaam</label>
          <input type="text" name="username">
        </div>
        <div class="input-field">
          <label for="">Wachtwoord</label>
          <input type="text" name="password">
        </div>
        <button>submit</button>
    </form>
</div>
<script src="scripts/login.js"></script>