<div class="container moderator">
<div class="profiles">

</div>
<div class="chat">
    <div class="user"></div>
    <div class="message-screen">
    </div>
    
    <div class="message-typing">
    </div>
</div>
<form action="">

</form>
</div>

<script src="scripts/moderator.js"></script>