<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://kv-staging.lifely.nl/assets/img/Brand@2x.png" alt="">
            <h1>Kandidaatvinden</h1>
        </div>
    </header>
    <%- include(page)%> 
</body>
</html>