<div class="questions v1">
    <h2><span>Stap 1/3: </span>Soort Werk</h2>
    <div>
        <input type="radio" name="work" id="frontend">
        <label for="frontend">Frontend</label>
    </div>

    <div>
        <input type="radio" name="work" id="backend">
        <label for="backend">Backend</label>
    </div>

    <div>
        <input type="radio" name="work" id="fullstack">
        <label for="fullstack">Fullstack</label>
    </div>

    <button class="next">Next</button>
</div>
<div class="questions v2 invisible">
    <h2><span>Stap 2/3: </span>Programmeertaal</h2>
    
    <button class="next">Next</button>
</div>
<div class="questions v3 invisible">
    <h2><span>Stap 3/3: </span>Persoonlijke info</h2>
    <!-- <div>
        <input type="radio" name="work" id="frontend">
        <label for="frontend">Frontend</label>
    </div>

    <div>
        <input type="radio" name="work" id="backend">
        <label for="backend">Backend</label>
    </div>

    <div>
        <input type="radio" name="work" id="fullstack">
        <label for="fullstack">Fullstack</label>
    </div> -->
    
    <button class="next">Next</button>
</div>